:root {
  --white: #fff; 
  --black: #000;
  --grey: gray;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}

.headerPermanente {
  margin-bottom: 2.5rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  width: 90%;
}

.headerPermanente lu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerPermanente li {
  list-style: none;
  font-size: 2.5rem;
}

.headerPermanente a {
  color: var(--white);
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.description {
  margin-top: 13rem;
  font-size: 3rem;
  text-align: center;
}